@font-face {
  font-family: Century Gothic;
  src: url(../GOTHIC.TTF)
  /*url('./GOTHICB.TTF'),*/
  /*url('./GOTHICBI.TTF'), */
  /*url('./GOTHICI.TTF'), */
}
@font-face {
  font-family: Century Gothic;
  src: url(../GOTHICB.TTF);
  font-weight: bold;
}

/*marron #d4bfaa*/
::selection {
  background: #d4bfaa;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  font-family: "Century Gothic";
  overflow-x: hidden;
  color: #272727;
}
button,
input {
  font-family: "Century Gothic";
  outline: none;
}
.cont90 {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.contC {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background: #fafafa;
    width: 100%;
    padding: 5%;
    z-index: 100000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #ddd;
    transition: .5s cubic-bezier(0, 0.24, 0, 1.14);
}
.contG {
  width: 100%;
}

nav{
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  padding-top: 2vh;
  z-index: 99;
}
nav>div>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}
nav>div>div>div{
  width: 10%;
  cursor: pointer;
}
nav>div>div>div>img{
  width: 100%;
}
main {
  display: flex;
  transition: 0.2s;
  padding-top: 20%;
  background: #fafafa;
}
main > div {
  width: 0%;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 2px;
  background-repeat: no-repeat;

}


/* sticky con el precio y la info */
.contC{
  transform: translateY(87%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid #ddd;
  transition: .5s cubic-bezier(0, 0.24, 0, 1.14)
}
.contC>button{
    background: #d4bfaa;
    border: 2px solid #d4bfaa;
    color: white;
    margin-top: 10%;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    padding: 12px 22px;
    z-index: 99;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.15s;
    display: block;
    /* top: -5.5%; */
    width: 100%;
    margin: auto;
}
#sticky-price{
  padding-top: 5%;
  position: sticky;
}

#sticky-price>div:first-child{
  width: 100%;
  height: 25vh;
  overflow: hidden;
  border-radius: 2px;
}
#sticky-price>div:first-child img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#sticky-price>h3{
  margin-top: 5%;
}

#sticky-price>span>strong{
  font-size: 3em;
  color: #272727;
  display: inline-block;
  margin-bottom: 5%;
}
.info-box{
  /* width: 91%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: 2px;
    padding: 2% 4%;
    border: 1px solid #ddd;
    margin: 5% auto;
}

.info-box>div:first-child{
  width: 7.5%;
  display: block;
  margin: 0 3.5%;
    
}
.info-box>div:first-child img{
  display: block;
  width: 96%;
  
}

.info-box>div:last-child{
    width: 80%;
    padding: 4% 0;
    padding-left: 5%;
    padding-right: 1%;
    font-size: .85em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#descuentos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
#sticky-price>div:nth-child(3){
  display: flex;
  align-items: center;
  margin: 3% 0;
  margin-left: -2px;
}
#sticky-price>div:nth-child(3) img{
  width: 20px;
  padding-right: 1%;

}

#sticky-price>div:nth-child(3) p{
  font-size: .95em;
}
#sticky-price>span{ 
  font-size: 0.8em;
  color: #757575;
}
#sticky-price table{
  width: 100%;
  font-size: 0.9em;
  border-bottom: 1px #ddd solid;
  /* border-top: 1px #ddd solid; */
  margin-bottom: 5%;
  padding: 3% 0;
}
#precio-bruto, #fee, #dcto, #total {
  text-align: right;
}
#precio-bruto:before, #fee:before, #dcto:before, #total:before {
  content: '$';
  margin-right: 2px;
}
#sticky-price table td{
  padding: 7px 0;
}

#por-noche ~ span{
  margin: 0 3px;
}
#total-cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#sticky-reservar{
  
  background: #d4bfaa;
  border: 2px solid #d4bfaa;
  color: white;
  margin-top: 10%;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  padding: 10px 0;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s;
  display: block;
}
#sticky-reservar:hover{
  background: transparent;
  color: #d4bfaa;
}


#checkin{
 width: 30%; 
}
.flechin{
  margin-bottom: -5px;
  width: 20px;
}
#checkout{
  width: 40%;
}
#checkin>input, #checkout>input{
  width: 100%;
  border: none;
}
#precio-final{
  width: 40%;
  text-align: right;
  position: relative;
  cursor: pointer;
}
#precio-final>span{ 
  display: block;
  margin-right: 10px;
}
#precio-final>img{
  width: 14px;
  transition: .2s cubic-bezier(0.13, 0.77, 0.33, 1)
}
.rotation{
  transform: rotate(180deg);
}
#descripcion-precio{
  top: 180%;
  position: absolute;
  padding: 9px;
  background: #ffffff;
  border: 1px #ddd solid;
  width: 140%;
  left: -25%;
  font-size: 0.85em;
  border-radius: 2px;
  display: none;

}
#descripcion-precio li{
  margin: 5px 0;
}

.flechin>img{
  transform: rotate(180deg);
  width: 16px;
}



#checkin>input, #checkout>input{
  width: 100%;
  border: none;
  background: transparent;
}

.flechin>img{
  transform: rotate(180deg);
  width: 16px;
}
#precio-final-cont{
  display: flex;
  justify-content: space-between;
}
#precio-final{
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#precio-final>span{ 
  display: block;
  margin-right: 4px;
}
#precio-final>img{
  width: 12px;
  transition: .2s cubic-bezier(00, 0.77, 0.33, 1)
}
.rotation{
  transform: rotate(180deg);
}
#descripcion-precio{
  top: 180%;
  position: absolute;
  padding: 9px;
  background: #fafafa;
  border: 1px #ddd solid;
  width: 200%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.85em;
  border-radius: 2px;
  display: none;
}
#descripcion-precio li{
  margin: 7px 0;
}
.icons{
  width: 100%;
}
main header>div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25%;
}
main header>div>div:first-child{
  width: 7%;
}
main header>div>div:last-child{
  width: 89%;
}
main header h4{
  font-size: 1.5em;
}
#login-cont{
  display: flex;
    margin: 5% 0;
    align-items: center;
}
#login-cont button{
  background: #d4bfaa;
    border: 2px solid #d4bfaa;
    color: white;
    transition: .2s;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    padding: 7px 17px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.15s;
    margin-left: 5%;
}
form>div {
  width: 89%;
  display: inline-block;
  margin: 2% 0;
}

form>div label {
  display: block;
  font-size: 0.8em;
  color: dimgrey;
  margin-top: 1.9%;
}

form>div input, form>div select{
  background: none;
  border: 1px solid #a4a4a4;
  padding: 4% 6%;
  border-radius: 3px;
  margin-top: 2%;
  width: 87%;
  font-size: 0.8em;
}
.cartas{
  padding: 5%;
  border: 1px solid #929292;
  border-radius: 5px;
  margin: 5% 0;
  opacity: 0.7;
  cursor: pointer;
  transition: .1s;
}
.cartas:hover{
  opacity: 1;
}
.active-carta{
  border: 2px solid #d4bfaa ;
  opacity: 1;
  background: #f3ebe3;
}
.cartas h5{
  font-size: 1.2em;
    display: inline-block;
    width: 80%;
}
.cartas h6{
  display: inline-block;
    font-size: 1.4em;
    color: #3c3c3c;
    width: 10%;
    margin-left: 10%;
}

.cartas li{
  margin: 3% 0;
  font-size: 0.9em;
  color: dimgray;
  margin-left: 3%;
}
#pay-info{
  margin-top: 5%;
  font-size: .9em;
  color: dimgray;
}
#completar-pago{
  background: #d4bfaa;
  border: 2px solid #d4bfaa;
  color: white;
  transition: .2s;
  font-size: 1em;
  letter-spacing: 0.5px;
  padding: 13px 25px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s;
  display: block;
  margin: 15% 0;
}
#completar-pago:hover{
  background: transparent;
  color: #d4bfaa;
}

#paypal-button-container{
  margin-top: 20px;
}