@font-face {
  font-family: Century Gothic;
  src: url(../GOTHIC.TTF)
  /*url('./GOTHICB.TTF'),*/
  /*url('./GOTHICBI.TTF'), */
  /*url('./GOTHICI.TTF'), */
}
@font-face {
  font-family: Century Gothic;
  src: url(../GOTHICB.TTF);
  font-weight: bold;
}


/* @font-face{font-family:swiper-icons;src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");} */


/*marron #d4bfaa*/
::selection {
  background: #d4bfaa;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  font-family: "Century Gothic"!important;
  overflow: hidden;
  color: #272727;
}
button,
input {
  font-family: "Century Gothic"!important;
  outline: none;
}
.cont90 {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.cont90Block{
  width: 90%;
  display: block;
  margin: auto;
}
.contC {
  width: 33.33%;
}
.contG {
  width: 60%;
}

nav {
  position: relative;
  width: 100%;
  padding-top: 2vh;
  z-index: 99;
  border-bottom: 1px solid #ddd;
  background-color: white;
}
nav > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
nav > div > div > div {
  width: 4%;
  cursor: pointer;
}
nav > div > div > div > a > img {
  width: 75%;
}
#menu-cont>div{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#linea-menu1,
#linea-menu2 {
  width: 30px;
  float: right;
  background: #272727;
  height: 4px;
  margin: 7% 0%;
  border-radius: 35px;
  display: block;
}
#filtros-cont{
  width: 80%;
  font-size: .8em;
  margin: auto;
  padding: 4vh 0;
}
  
#filtros-cont>aside{
display: none;
}
#filtros-cont>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#filtros-cont li, #filtros-cont li>div{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
    position: relative;
}


#filtros-cont li>img, #filtros-cont li>div>img, #filtros-cont li>aside{
  margin-right: 5px;
  height: 18px;
}
#filtros-cont li>aside{
  font-size: .9em;
  font-weight: bold;
  color: #d4bfaa;
}
#aplicar{
  display:none
}
.checkin{
  margin-right: 5px;
}
#checkin{
  width: 40%; 
 }
 .flechin{
   margin-bottom: -5px;
   width: 20px;
 }
 
 #checkout{
   width: 40%;
 }
 
 
 #checkin>input, #checkout>input{
   width: 100%;
   border: none;
 }
 
 .flechin>img{
   transform: rotate(180deg);
   width: 16px;
 }
 #check-cont{
   display: flex;
   justify-content: space-between;
   width: 100%;
 }
 .checkin{
   width: 100%;
 }
body>.lightpick{
  transform: translateX(75%)
}
.checkinli{
  width: 30%;
}
#filter-cant-hues{
    border: none;
    background: none;
    color: #272727;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    width: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#filter-minus{
  margin-right: 0!important;
  margin-left: 7px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
section{
  display: flex;
  justify-content: space-between;
}
section article{
  width: 50%;
  height: 87vh;
  overflow: hidden;
}

#ver-mapa{ display:none; }

#map-cont{
  width: 100%;
  height: 100%;
}
#propiedades{
  height: 100%;
  overflow: auto;
  position: relative;
}
#propiedades::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#propiedades::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f0f0f0;
}
 
/* Handle */
#propiedades::-webkit-scrollbar-thumb {
  background: #d4bfaa; 
  border-radius: 10px;
}

/* Handle on hover */
#propiedades::-webkit-scrollbar-thumb:hover {
  background: #aa9a8a; 
}
.propiedad{
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding: 5% 3%;
  border-bottom: 1px solid #ddd;

}
.foto-cont{
  overflow: hidden;
  width: 50%;
  border-radius: 2px;
  height: 100%;

}
.foto-cont>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.prop-info{
  width: 47.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prop-info h4{
  font-weight: normal;
  color: #3e3e3e;
  font-size: 0.85em;
}

.prop-info h2{
  /* font-weight: normal; */
    font-size: 1.3em;
    color: #272727;
    margin: 2% 0px;
}

.prop-info hr{
  width: 15%;
    margin-bottom: 3%;
    border: #ddd solid 0.5px;
}

.prop-info p{
    font-size: .75em;
    color: #8a8a8a;
}
.btn-precio{
  padding: 3% 7%;
    border-radius: 2px;
    display: block;
    background: #d4bfaa;
    width: fit-content;
    color: white;
    transition: .2s;
}

.btn-precio:hover{
  background-color: #b09b86;
}

.btn-precio strong{
  font-size: 1.3em!important;
  color: white;

}
.btn-precio span{
  color: white;

  font-size: 0.8em;
}

/* Empiezan propiedades para el mapa */
#map{
  width: 100%;
  height: 100%;
}

.marker div{
  background-color: #d4bfaa;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: .2s;
}

/* Terminan propiedades para el mapa */

/* Filtros */
#ciudades {
  position: absolute;
  top: 170%;
  background: #fafafa;
  left: 0%;
  z-index: 2;
  width: 240px;
  border: 1px solid #dadada;
  backdrop-filter: blur(8px);
  display: none;
  border-radius: 2px;
}
#ciudades ul {
  padding: 2% 7%;
}
#ciudades ul li {
  margin: 5% 0;
  cursor: pointer;
}
#ciudades ul li:hover {
  font-weight: 600;
}
#select-city {
  border-bottom: 0px solid transparent;
  cursor: pointer;
}
#select-city p {
  color: #7b7b7b;
}

#mas-filtros article>div {
  position: absolute;
  top: 170%;
  background: #fafafa;
  right: -25%;
  z-index: 2;
  width: 240px;
  border: 1px solid #dadada;
  backdrop-filter: blur(8px);
  display: none;
  border-radius: 2px;
}
#mas-filtros article>div ul {
  padding: 2% 7%;
}
#mas-filtros article>div ul li {
  margin: 5% 0;
  cursor: pointer;
  font-size: 0.85em;
}
input[type="checkbox"], label{
  cursor: pointer;
}

input[type="checkbox"]{
  margin-right: 10px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 4px;
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.1); */
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #d4bfaa;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  /* border: 2px dotted #d4bfaa; */
}






/* hover style just for information */
label:hover:before {
  border: 2px solid #d4bfaa!important;
}
#precio{
  position: relative;
}
#price-range {
  position: absolute;
  top: 170%;
  background: #fafafa;
  left: 0%;
  z-index: 2;
  width: 240px;
  border: 1px solid #dadada;
  backdrop-filter: blur(8px);
  display: none;
  border-radius: 2px;
  font-family: 'Century Gothic';
}
.easy-basket-filter {
  width: 80%;
  margin: 35% 10% 15% 10%;
  position: relative;
}
.easy-basket-filter-ticks>div{
  font-family: 'Century Gothic';

}
.histogram-list>li{
  display: none!important;
}
.fill {
	height: 3px;
	width: 100%;
	background-color: #d4bfaa;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.easy-basket-filter-info {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: -50px;
}
.easy-basket-filter-info p{
	color: #fff;
	padding: 2px 6px;
	background-color: #d4bfaa;
	border-radius: 4px;
	margin:0;
}
.easy-basket-filter-info .iLower{
	float:left;
	display: inline-block;
}
.easy-basket-filter-info .iUpper{
	float:right;
	display: inline-block;
}
/* .easy-basket-filter-info p:after{
	border-color: #d4bfaa transparent transparent;
	content: "";
	position: absolute;
	bottom: -3px;
	border-color: #d4bfaa transparent transparent;
	border-style: solid;
	border-width: 3px 4px;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	font-size: 15px;
}
.easy-basket-filter-info .iLower:after{
	left: 9px;
}
.easy-basket-filter-info .iUpper:after{
	right: 1px;
} */
.easy-basket-filter-info input{
	width: inherit;
	border: none;
	color: #fff;
	font: 11px Open Sans;
	background-color: #d4bfaa;
	width: 30px;
	text-align:center;
}
/***** Position dual *****/
.range {
	position: absolute;
	left: 0;
	top: 0;
}

/****** Style range ******/
input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 0;
	background: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

input[type=range]:focus, input[type=text]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height:20px;
	width: 20px;
	border: 5px solid #f1f1f1;
	box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	background: #d4bfaa;
	cursor: pointer;
	margin-top: -9px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #707D7D;
	border-radius: 1.3px;
}

input[type=range].lower::-webkit-slider-runnable-track {
	background: red;
}
.easy-basket-filter-ticks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	height: 5px;
	padding-top: 8px;
	font: 11px Open Sans;
	cursor: default;
	left: 0;
	bottom: 0;
	width: 100%;
}
.easy-basket-filter-ticks > div {
	height: 100%;
	width: 1px;
	background: #DDD;
	color: #888;
}
.easy-basket-filter-ticks > div:nth-child(10n - 9) {
	height: 150%;
}
.easy-basket-filter-ticks > div:nth-child(10n - 9)::before {
	display: block;
	content: attr(data-value);
	-webkit-transform: translate(-50%, 50%);
			transform: translate(-50%, 50%);
	text-align: center;
	width: 40px;
}


/* Гистограмма	*/
.easy-basket-filter-histogram{
	width: 100%;
	display: block;
	float: left;
	margin:0;
	top: -51px;
	position: absolute;
}
.easy-basket-filter-histogram ul{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
}
.easy-basket-filter-histogram ul li{
	height: 35px;
	box-sizing: border-box;
	background-color: #f1f1f1;
	width: 20%;
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	border-right:1px solid #fff;
	float: left;
	position: relative;
	cursor: pointer;
}
.ui-histogram-active{
	background-color: rgba(1, 186, 176, 0.39) !important;
}
.easy-basket-filter-histogram ul li:last-child{
	border-right: 0px;
}
.easy-basket-filter-histogram ul li:hover {
	background-color: rgba(1, 186, 176, 0.39);
}
.easy-basket-filter-histogram ul li:hover > .histogram-ballon{
	display: none;
}
.easy-basket-filter-histogram ul li:hover > .histogram-ballon{
	display: block;
}
.easy-basket-filter-histogram .histogram-ballon{
	background-color: #f1f1f1;
	position: absolute;
	border-radius: 4px;
	font: 12px Arial;
	top: -40px;
	line-height: 18px;
	padding: 2px 6px;
	white-space: nowrap;
	display: none;
}
.easy-basket-filter-histogram .histogram-height{
	background-color: #fff;
}
.easy-basket-filter-histogram .easy-basket-filter-histogram-arrow{
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	overflow: hidden;
	border: 1px solid #ccc;
	background: #FFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=.7071067811865475, M12=-.7071067811865477, M21=.7071067811865477, M22=.7071067811865475, SizingMethod='auto expand');
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 58px;
	bottom: -6px;
	border-left: none;
	border-top: none;
	box-shadow: 4px 1px 3px rgba(0,0,0,.09);
	left: 56px\9;
	bottom: -4px\9;
}

.hovered div{
  background-color: #b09b86;
}

#sin-propiedades{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sin-propiedades>div{
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#sin-propiedades>div>div{
  text-align: center;
}

#sin-propiedades img{
  margin-bottom: 15px;
}
