@font-face {
  font-family: Century Gothic;
  src: url(../GOTHIC.TTF)
  /*url('./GOTHICB.TTF'),*/
  /*url('./GOTHICBI.TTF'), */
  /*url('./GOTHICI.TTF'), */
}
@font-face {
  font-family: Century Gothic;
  src: url(../GOTHICB.TTF);
  font-weight: bold;
}

/*marron #d4bfaa*/
::selection {
  background: #d4bfaa;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  font-family: "Century Gothic";
  overflow-x: hidden;
  color: #272727;
}
button,
input {
  font-family: "Century Gothic";
  outline: none;
}
.cont90 {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.contC {
  width: 33.33%;
}
.contG {
  width: 60%;
}

nav {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  padding-top: 2vh;
  z-index: 99;
}
nav > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav > div > div > div {
  width: 4%;
  cursor: pointer;
}
nav > div > div > div > a > img {
  width: 75%;
}
#menu-cont>div{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#linea-menu1,
#linea-menu1 {
  width: 30px;
  float: right;
  background: #272727;
  height: 4px;
  margin: 7% 0%;
  border-radius: 35px;
  display: block;
}
main {
  display: flex;
  transition: 0.2s;
}
main > div {
  width: 0%;

  transition: 1s;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 2px;

  background-repeat: no-repeat;
  
}



main > div > img {
  position: absolute;
  height: 100%;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
  left: 50%;
  transform: translateX(-42%);

}
main > div > aside {
  position: absolute;
  background-color: #d4bfaa;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  bottom: 0%;
  right: 0%;
  cursor: pointer;
}
main > div > aside img {
  padding-top: 25%;
  height: 50%;
  display: block;
  margin: auto;
  filter: invert(1);
}

main header {
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
  /* background-color: #fafafa; */
}
main h1 {
  font-size: 4.5em;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
  transition: 1s;
  transform: translateY(15%);
  transition-delay: .2s;
  opacity: 0;
}
main h2 {
  font-size: 1.5em;
  font-weight: 500;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
  transition: 1s;
  transform: translateY(15%);
  transition-delay: .5s;
  opacity: 0;

}
main form {
  margin-top: 15%;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
  transition: 1s;
  transform: translateY(15%);
  transition-delay: .2s;
  opacity: 0;
}
.inputs {
  border: none;
  background: none;
  font-size: 1em;
  color: #272727;
  transition: 0.2s;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

main .explore {
  margin-top: 5%;
  background: #d4bfaa;
  border: 2px solid #d4bfaa;
  color: white;
  /* font-weight: 600; */
  font-size: 0.95em;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s;
}
main .explore:hover {
  background-color: transparent;
  color: #d4bfaa;
}
main form > div {
  margin: 5% 0;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.2s;
}
main form > div > div {
  display: flex;
}
main label img {
  width: 20px;
  margin-right: 7px;
  padding-top: 3px;
  opacity: 0.8;
}
main form > div > img {
  width: 16px;
  opacity: 0.7;
  cursor: pointer;
}
main form > div > img:nth-child(2) {
  margin-left: 2px;
}

#huespedes {
  width: 10%;
  text-align: center;
}

#ciudades {
  position: absolute;
  top: 110%;
  background: #fafafa;
  /* cursor: pointer; */
  z-index: 2;
  width: 100%;
  border: 1px solid #dadada;
  backdrop-filter: blur(8px);
  display: none;
}
#ciudades ul {
  padding: 2% 7%;
}
#ciudades ul li {
  margin: 5% 0;
  cursor: pointer;
}
#ciudades ul li:hover {
  font-weight: 600;
}
#select-city {
  border-bottom: 0px solid transparent;
  cursor: pointer;
}
#select-city p {
  color: #7b7b7b;
}

/* secciones */
section:nth-child(3) article {
  padding: 21vh 0;
  background: #fafafa;
}
#seccion-destinos header {
  padding-top: 15%;
}
article header h3 {
  font-size: 2.5em;
}
article header button,
#seccion-proceso button,
#cta-secc button {
  cursor: pointer;
  margin-top: 10%;
  /* font: status-bar; */
  background: none;
  border: none;
  font-weight: 600;
  font-size: 0.8em;
  position: relative;
  transform: translateX(50%);
  transition: color 0.2s .25s;
  color: #888687;
}

article header button::before,
#seccion-proceso button::before,
#cta-secc button::before {
  content: "";
  border-radius: -2px;
  width: 35%;
  display: block;
  height: 3px;
  position: absolute;
  background: #d4bfaa;
  left: -50%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
  z-index: -1;
  transition: left 0.2s, width 0.2s, height 0.2s 0.25s;
  /* transition: property name | duration | timing function | delay */
}
article header button:hover::before,
#seccion-proceso button:hover::before,
#cta-secc button:hover::before {
  left: -20%;
  width: 140%;
  height: 160%;
}
article header button:hover,
#seccion-proceso button:hover,
#cta-secc button:hover {
color: white
}
#destinos {
  display: flex;
  justify-content: space-between;
}
#destinos > figure {
  width: 30%;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
  transition: 1s;
  transform: translateX(-10%);
  opacity: 0;
}
#destinos > figure:nth-child(2) {
     transition-delay: .4s
}
#destinos > figure:nth-child(3) {
     transition-delay: .8s
}
/* #destinos>figure:nth-child(1)>div{
     background: linear-gradient( rgb(212 191 170 / 0.2), rgb(212 191 170 / 0.2)) ,url('http://localhost/clientes-plannet/reforma/imgs/destino-bsas.jpg');
}
#destinos>figure:nth-child(2)>div{
     background: linear-gradient( rgb(212 191 170 / 0.2), rgb(212 191 170 / 0.2)) ,url('http://localhost/clientes-plannet/reforma/imgs/destino-areco.jpg');
}
#destinos>figure:nth-child(3)>div{
     background: linear-gradient( rgb(212 191 170 / 0.2), rgb(212 191 170 / 0.2)) ,url('http://localhost/clientes-plannet/reforma/imgs/destino-bariloche.webp');
} */
#destinos > figure > div {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 2px;
}
#destinos > figure img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.25s ease-in-out;
}
#destinos > figure aside {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(212, 191, 170, 0.07);
  z-index: 5;
  position: relative;
}
#destinos > figure figcaption {
  font-size: 1em;
  font-weight: 600;
  color: #5f5f5f;
  margin-top: 3%;
}
#destinos > figure:hover img {
  transform: translate(-50%, 0%) scale(1.1);
}

/* TESTIMONIOS */

#seccion-testimonios .contG {
  display: flex;
  justify-content: space-between;
  height: 190px;
  position: relative;
}
#caritas-cont {
  width: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 109%;
  transform: translateY(-2.5%);
}
#caritas-cont > div {
  width: 48px;
  height: 48px;
  position: relative;
  background: #1e1e1e;
  border-radius: 55px;
  margin: 5% 0;
}
#quote-cont {
  border-left: 3px solid #d4bfaa;
  width: 75%;
}
#quote-cont > div {
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97%;
}
#quote-cont > div > span {
  font-weight: 800;
  line-height: 0.85;
  color: #d4bfaa;
  font-size: 4.5em;
  user-select: none;
}
#quote {
  color: #909090;
  font-weight: 600;
  font-size: 2.75em;
  font-style: italic;
  /* line-height: 0.6; */
  transform: translateY(-24%);
}

.data-autor {
     display: flex;
     font-size: 0.7em;
     color: #909090;
     width: 100%;
     transition: .1s;
     align-items: flex-end;
     justify-self: self-end;
}
.data-autor img {
  width: 16px;
  margin-right: 5px
}
.data-autor figure {
  display: flex;
  /* margin-right: 5%; */
  width: 35%;
  align-items: center;
  white-space: nowrap;
}

/* AMENITIES */
#seccion-amenities header {
  position: sticky;
  top: 10px;
}
#amenities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#amenities > div {
  width: 30%;
  font-size: 0.85em;
  margin-bottom: 7%;
  transform: translateY(10%);
  opacity: 0;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.13, 0.77, 0.33, 1);
}
.row2, .row3{
     transition-delay: .3s!important;
}
.row4{
     transition-delay: .6s!important;
}
.row3, .row4{ display: none; }
#amenities > div img {
  width: 100%;
  border-radius: 2px;
}

/* DEFINICION */
#seccion-definicion > div {
  width: 35%;
  margin: auto;
}
#seccion-definicion > div > div:first-child {
  display: flex;
  align-items: normal;
  align-items: baseline;
}
#seccion-definicion > div img {
  height: 3.15em;
}
#seccion-definicion > div h2 {
  font-size: 3.5em;
}
#definicion-cont > p:first-child {
  margin: 4.5% 0 2% 0;
  font-size: 2em;
  font-weight: bold;
}
#definicion-cont span {
  font-size: 0.75em;
}
#definicion-cont i {
  color: #848484;
  margin-left: 4%;
}
#definicion-cont > p:last-child {
  margin-top: 3.5%;
}
#typing{ font-size: 1em!important; }
#typing::after{
     content: "|";

     animation: blink ease 1s infinite;
 
     transform: translateY(-15%);
 
   }
 
   
 
 @keyframes blink { 
 
     0%, 100% { opacity: 0; }
 
     50% { opacity: 1; }
 
 }  

            
/* SECCION QUOTES */
#seccion-frases {
  padding-bottom: 0;
}
#seccion-frases > div {
  display: flex;
  justify-content: space-between;
}
#seccion-frases > div > div {
  width: 66%;
  height: 55vh;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}
#seccion-frases > div > div img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#seccion-frases header {
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 7%;
}
#seccion-frases header > span {
  color: #d4bfaa;
  font-size: 4em;
  line-height: 0;
  font-weight: bold;
}
#seccion-frases header > h5 {
  font-size: 1.5em;
  font-style: italic;
}
#seccion-frases header > div p {
  margin-top: 10%;
}
#seccion-frases header > div i {
  color: #969696;
}

/* PROCESO */

#seccion-proceso {
  padding: 20vh 0;
}
#seccion-proceso > h2 {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 2.5em;
}
#seccion-proceso > article {
  width: 60%;
  margin: 7.5% auto;
  justify-content: space-between;
}
#paso1, #paso2, #paso3, #paso4, #paso5, #paso6{
     display: flex;
}
#seccion-proceso > article header {
  padding-top: 5%;
  width: 43%;
}

#seccion-proceso header span {
  color: #d4bfaa;
  font-weight: 600;
  font-size: 1.7em;
}
#seccion-proceso header h4 {
  font-size: 1.7em;
}
#seccion-proceso header p {
  font-size: 0.9em;
  margin-top: 2%;
}

#seccion-proceso > article > div {
  width: 52%;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 45vh;
  overflow: hidden;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 2px;
}
#paso1>div{
  background-image: url('../imgs/proceso1.jpg');
}
#paso2>div{
  background-image: url('../imgs/proceso2.jpg');
}
#paso3>div{
  background-image: url('../imgs/proceso3.jpg');
}
#paso4>div{
  background-image: url('../imgs/proceso4.jpg');
}
#paso5>div{
  background-image: url('../imgs/proceso5.jpg');
}
#paso6>div{
  background-image: url('../imgs/proceso6.jpg');
}
#paso3, #paso4, #paso5, #paso6{
     display: none;
}  

#seccion-proceso button {
  background: none;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
  color: #5f5f5f;
  position: relative;
  cursor: pointer;
  z-index: 0;
  display: flex;
  width: fit-content;
  margin: auto;
  color: #888687;
  margin-top: 10%;
  transform: translateX(0)!important;
}


/* ULTIMA SECC CTA */

#cta-secc {
  padding: 5vh 0 15vh 0;
}
#cta-secc > div > div > div {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
  border-radius: 3px;
}

#cta-secc > div > div img {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#cta-secc header h3 {
  padding-top: 30%;
  font-size: 2.5em;
}
