@font-face {
  font-family: Century Gothic;
  src: url(../GOTHIC.TTF)
  /*url('./GOTHICB.TTF'),*/
  /*url('./GOTHICBI.TTF'), */
  /*url('./GOTHICI.TTF'), */
}
@font-face {
  font-family: Century Gothic;
  src: url(../GOTHICB.TTF);
  font-weight: bold;
}

/*marron #d4bfaa*/
::selection {
  background: #d4bfaa;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  font-family: "Century Gothic";
  overflow-x: hidden;
  color: #272727;
}
button, select, input {
  font-family: "Century Gothic";
  outline: none;
}
.cont90 {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.contC {
  width: 33.33%;
}
.contG {
  width: 60%;
}
nav {
  position: absolute;
  top: 0.5vh;
  left: 0;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 1vh;
  z-index: 99;
  background-image: linear-gradient( #fafafa 0%, transparent 0%);
  transition: .7s cubic-bezier(0.13, 0.77, 0.33, 1);
}
nav > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav > div > div > div {
  width: 4%;
  cursor: pointer;
  z-index: 99;
  position: relative;
  z-index: 99;
}
nav > div > div > div:first-child{
  display: flex;
  align-items: center;
}
nav > div > div > div > a > img {
  width: 3vw;
}

/* manu izquiertda */

#body-2{
  display: flex;
}
#body-2>aside{
  width: 15vw;
  background: #f0f0f0;
  padding-top: 15vh;
  padding-left: 3vw;
  height: 85vh;
}

#body-2>aside li{ 
  padding: 9% 0 9% 2vw;
  font-size: 1.1em;
  cursor: pointer;
}
.activeLi{
  background-color: white;
  font-weight: 600;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
#body-2>main{
  width: 82%;
  overflow: auto;
  height: 90vh;
  padding-top: 10vh;

}
main>div{
  width: 90%;
  margin: auto;
}

/* VER PROPIEDADES PROPIEDAD */

#ver_propiedades>div>h2, #crear_propiedad>div>h2, #ver_localidades>div>h2, #ver_artistas>div>h2, #ver_usuarios>div>h2{
  font-size: 1.9em;
}
#ver_propiedades>div:first-child, #crear_propiedad>div:first-child, #ver_usuarios>div:first-child, #ver_localidades>div:first-child, #ver_artistas>div:first-child{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-bottom: 40px;
}

.row-propiedad, .row-localidad, .row-artista{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding: 13px 0;
}
.row-propiedad>div:first-child , .row-localidad>div:first-child, .row-artista>div:first-child{
  display: flex;
  width: 90%;
  align-items: center;
}
.foto-prop, .foto-artista{
  width: 64px;
  height: 50px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 3px;
}
.foto-prop>img, .foto-artista img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nombre-prop{
  width: 75%;
}
.options{
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
}
.row-localidad .options, .row-artista .options{
  width: 10%;
}
.options>a{
  cursor: pointer;
  width: 16px;
  opacity: 0.65;
  transition: .2s;
}
.options>a:hover{
  opacity: 1;
}

.options>a>img{
  width: 100%;

}
#crear-propiedad, #subir-propiedad, #crear-usuario, #actualizar-propiedad, #crear-artista{
  background: #d4bfaa;
  border: 2px solid #d4bfaa;
  color: white;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  padding: 8px 22px;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.15s;
}
#subir-propiedad:hover{
  background: transparent;
  color: #d4bfaa;
}


/* SUBIR NUEVA PROPIEDAD */
#crear_propiedad label{
  color: #535353;
  font-weight: 600;
  font-size: 1.3em;
  display: block;
  margin-bottom: 3px;
}
#n-nombre{
  width: 45%;
  display: inline-block;
}
#n-provincia, #n-localidad{
  width: 26%;
  display: inline-block;
}

.grey-input{
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 3px;
}
#n-nombre input{
  width: 80%;
}
.house-display{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .house-display>div{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
}
.house-display>div img{
    width: 12%;
    margin-right: 88%;
}
.house-display>div p{
  margin-bottom: 3px;
  font-weight: 600;
  color: #535353;

}
.dormitorio{
  margin-bottom: 25px;
}
.dormitorio>div{
  position: relative;
}
.delete-bed{
  width: 11px;
  position: absolute;
  border-radius: 50%;
  right: 105%;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border: #5e5e5e 1px solid;
  height: 11px;
  padding: 3px;
}
.delete-bed img{
  width: 50%!important;
  margin: auto;
  display: block;
  transform: translate(40%, 50%);
}


.house-display>div input{
  width: 15%;
  margin-left: 7%
}
.house-display>div select{
  margin-bottom: 3px;
}

.house-display>div span{
  display: block;
  font-size: 0.75em;
  border-bottom: 1px solid #5e5e5e;
  margin-top: 4px;
  cursor: pointer;
  opacity: 0.7;
}
.house-display>div span:hover{
  border-bottom: 1px dashed #5e5e5e;

}
#n-camas{
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
#amenities{
  margin: 80px 0;
}
#amenities>p, #concepto>p, .lasts>div>p{
  font-weight: 600;
  font-size: 1.3em;
  color: #535353;
}
#amenities ul{
  display: flex;
  flex-wrap: wrap;
}

#amenities li{
  width: 30%;
    display: flex;
    align-items: center;
    margin: 1.5% 0%;
    padding:1.5% 3% 1.5% 0;
    cursor: pointer;
    transition: .1s;
    opacity: 0.4;
    position: relative;
}
#amenities li:hover{
  opacity: 0.7;
}
.ameniti-selected{
  opacity: 1!important;
  font-weight: 600;
  color: #313131;
}
.ameniti-selected::before{
  content: '✓';
  color: #d4bfaa;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}



#amenities li img{
  width: 24px;
}
#amenities li p {
  padding-left: 6%;
  font-size: .9em;
}
#concepto textarea{
  width: 90%;
    resize: none;
    height: 15vh;
    overflow: auto;
    margin-top: 10px;
}
.lasts{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.lasts>div{
  width: 40%;
  margin-top: 5%;
}
.lasts>div p{
  margin-bottom: 3px;
}
.lasts>div>div span{ 
  font-weight: 600;
  font-size: 1.5em;
}
.lasts>div>div input{
  font-size: 1.3em;
  width: 20%;
} 
#buttons-cont{
  margin: 10% 0;
  display: flex;
  justify-content: space-around;
}
#descartar-cambios{
  cursor: pointer;
}

/* ver usuario */
.row-usuario, .row-localidad{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  FONT-VARIANT: JIS04;
  padding: 2% 0;
  /* margin: 1% 0; */
  border-bottom: 1px solid #ddd;
}
.row-usuario:last-child{
  border-bottom: none;

}

.row-usuario .options{
  width: 10%;
}
.row-usuario>div:first-child{
  display: flex;
  align-items: center;
  width: 90%;
}
.id-loc, .id-artista, .id-usuario{
  width: 10%;
}
.nombre-artista{
  width: 40%;
}
.nombre-usuario, .nombre-loc{
  width: 47%;
}
.nombre-usuario p, .mail-usuario p, .nombre-loc, .nombre-prov p{
  font-size: 1em;
}

.mail-usuario p, .nombre-prov p{
  font-style: italic;
}


/* Estilos del main-modal */
.main-modal-cont{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

#main-modal{
  background-color: white;
    padding: 25px 30px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.38);
    position: relative;
    width: 600px;
}

#mm-titulo, .mm-titulo{
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 5px;
  max-width: 65%;
}

#mm-descripcion, .mm-descripcion{
  font-size: 0.85em;
}

#mm-heading, .mm-heading{
  margin-bottom: 25px;
}

#mm-contenido, .mm-contenido{
  display: flex;
    justify-content: center;
    align-items: center;
}

#mm-entendido-btn{
  background: #d4bfaa;
    border: 2px solid #d4bfaa;
    color: white;
    font-weight: 600;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.15s;
    padding: 10px 20px;
}

#mm-entendido-btn:hover{
  background-color: transparent;
  color: #d4bfaa;
  border: 2px solid #d4bfaa;
}

#mm-cerrar, .mm-cerrar{
  position: absolute;
  right: 9px;
  top: 5px;
  font-size: 0.8em;
  width: 18px;
  height: 18px;
  background-color: rgba(212, 191, 170, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  color: gray;
  transition: .2s;
}

#mm-cerrar:hover, .mm-cerrar:hover{
  color: black;
  cursor: pointer;
  background-color: rgba(212, 191, 170, 0.5);
}
.m-modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  /* background: #ffffff66; */
  top: 0;
  backdrop-filter: blur(7px);
  display: none;
}
.m-modal>div{
  width: 33%;
  padding: 3%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
}

.modal-cont-share{
  display: flex;
  /* align-items: center; */
}

.copy-cont{
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 6px;
  cursor: pointer;
  width: 10%;
  margin-left: 3%;
}
.copy-cont img{
  width: 100%;
  margin-top: 32%;
}
.roger-that{
  background: #d4bfaa;
  border: 2px solid #d4bfaa;
  color: white;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  padding: 8px 22px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s;
  display: block;
  margin: 30px auto 0;
}

.copied{
  background-color: rgb(139 242 139);

  box-shadow: 0px 0px 4px 2px rgba(61, 170, 61, 0.3);
  transition: .1s;
}
/* modal edit artista */
#edit-artista-modal .mm-heading{
  display: flex;
  align-items: center;
}
#edit-artista-modal .mm-heading>div{
    /* width: 100px; */
    overflow: hidden;
    margin-right: 5%;
}
#edit-artista-modal .mm-heading img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#edit-artista-modal textarea, #crear-artista-modal textarea{
  width: 94%;
  height: 20vh;
  font-family: "CENTURY GOTHIC";
  padding: 12px 3%;
  margin: 0px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  resize: none;
  border-radius: 3px;
}

.save-buttons{
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
}

.guardar-cambios{
  margin-left: 8%;
  background: #d4bfaa;
  border: 1px solid #d4bfaa;
  color: white;
  /* font-weight: 600; */
  font-size: 0.75em;
  letter-spacing: 0.5px;
  padding: 8px 23px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s;
}
.descartar-cambios{
  margin-left: 8%;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  color: #272727;
  /* font-weight: 600; */
  font-size: 0.75em;
  letter-spacing: 0.5px;
  padding: 8px 23px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s;
}

/* modal edit localidad */
#edit-localidad-modal h5, #crear-localidad-modal h5{
  font-size: 1.3em;
  margin-bottom: 15px;
}
#edit-localidad-modal input.grey-input, #crear-localidad-modal input.grey-input{
  margin-right: 5%;
}

/* datos de usuario */
#ver-usuario-modal>div{
  width: 44%;
}
#ver-usuario-modal .mm-heading{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.datos-inputs-cont:first-child{
  width: 100%;
}
.datos-inputs-cont{
  display: inline-block;
  width: 45%;
  margin: 3% 0;
}
.datos-inputs-cont label{
    font-size: 0.8em;
    color: #5e5e5e;
    display: block;
}

.datos-inputs-cont input{
  background: none;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  width: 100%;
  color: #272727;
}
.cama-img{
  margin-left: 7%;
    margin-top: 7px;
}

/* modal crear/editar artistas */
.profile-img{
  position: relative;
  overflow: hidden;
  width: 64px;
  height: 64px;
  background: #ddd;
  border-radius: 50px;
  cursor: pointer;
}
.profile-img img{   
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
.profile-img label{
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  cursor: pointer;
}
#crear-artista-modal .mm-heading{
  display: flex;
  align-items: center;
}
#crear-artista-modal .mm-heading input[type=text]{
  margin-left: 10%;
  font-size: 1em;
}